USING DPLYR

In [1]:
library(dplyr)

Attaching package: 'dplyr'


The following objects are masked from 'package:stats':

    filter, lag


The following objects are masked from 'package:base':

    intersect, setdiff, setequal, union

In [3]:
library(nycflights13)

In [4]:
summary(flights)

      year          month             day           dep_time    sched_dep_time
 Min.   :2013   Min.   : 1.000   Min.   : 1.00   Min.   :   1   Min.   : 106
 1st Qu.:2013   1st Qu.: 4.000   1st Qu.: 8.00   1st Qu.: 907   1st Qu.: 906
 Median :2013   Median : 7.000   Median :16.00   Median :1401   Median :1359
 Mean   :2013   Mean   : 6.549   Mean   :15.71   Mean   :1349   Mean   :1344
 3rd Qu.:2013   3rd Qu.:10.000   3rd Qu.:23.00   3rd Qu.:1744   3rd Qu.:1729
 Max.   :2013   Max.   :12.000   Max.   :31.00   Max.   :2400   Max.   :2359
                                                 NA's   :8255
   dep_delay          arr_time    sched_arr_time   arr_delay
 Min.   : -43.00   Min.   :   1   Min.   :   1   Min.   : -86.000
 1st Qu.:  -5.00   1st Qu.:1104   1st Qu.:1124   1st Qu.: -17.000
 Median :  -2.00   Median :1535   Median :1556   Median :  -5.000
 Mean   :  12.64   Mean   :1502   Mean   :1536   Mean   :   6.895
 3rd Qu.:  11.00   3rd Qu.:1940   3rd Qu.:1945   3rd Qu.:  14.000
 Max.   :1301.00   Max.   :2400   Max.   :2359   Max.   :1272.000
 NA's   :8255      NA's   :8713                  NA's   :9430
   carrier              flight       tailnum             origin
 Length:336776      Min.   :   1   Length:336776      Length:336776
 Class :character   1st Qu.: 553   Class :character   Class :character
 Mode  :character   Median :1496   Mode  :character   Mode  :character
                    Mean   :1972
                    3rd Qu.:3465
                    Max.   :8500

     dest              air_time        distance         hour
 Length:336776      Min.   : 20.0   Min.   :  17   Min.   : 1.00
 Class :character   1st Qu.: 82.0   1st Qu.: 502   1st Qu.: 9.00
 Mode  :character   Median :129.0   Median : 872   Median :13.00
                    Mean   :150.7   Mean   :1040   Mean   :13.18
                    3rd Qu.:192.0   3rd Qu.:1389   3rd Qu.:17.00
                    Max.   :695.0   Max.   :4983   Max.   :23.00
                    NA's   :9430
     minute        time_hour
 Min.   : 0.00   Min.   :2013-01-01 05:00:00
 1st Qu.: 8.00   1st Qu.:2013-04-04 13:00:00
 Median :29.00   Median :2013-07-03 10:00:00
 Mean   :26.23   Mean   :2013-07-03 05:22:54
 3rd Qu.:44.00   3rd Qu.:2013-10-01 07:00:00
 Max.   :59.00   Max.   :2013-12-31 23:00:00

In [5]:
class(flights)

[1] "tbl_df"     "tbl"        "data.frame"

In [6]:
dim(flights)

[1] 336776     19

In [8]:
print(head(filter(flights, month == 11, day == 3, carrier == "AA")))

# A tibble: 6 x 19
   year month   day dep_time sched_dep_time dep_delay arr_time sched_arr_time
  <int> <int> <int>    <int>          <int>     <dbl>    <int>          <int>
1  2013    11     3      538            545        -7      824            855
2  2013    11     3      556            600        -4      900            905
3  2013    11     3      604            610        -6      844            855
4  2013    11     3      624            629        -5      907            929
5  2013    11     3      625            630        -5      736            805
6  2013    11     3      653            655        -2      925            920
# ... with 11 more variables: arr_delay <dbl>, carrier <chr>, flight <int>,
#   tailnum <chr>, origin <chr>, dest <chr>, air_time <dbl>, distance <dbl>,
#   hour <dbl>, minute <dbl>, time_hour <dttm>

In [12]:
head(flights[flights$month == 11 & flights$day == 3 & flights$carrier == "AA", ])

  year month day dep_time sched_dep_time dep_delay arr_time sched_arr_time
1 2013 11    3   538      545            -7        824      855
2 2013 11    3   556      600            -4        900      905
3 2013 11    3   604      610            -6        844      855
4 2013 11    3   624      629            -5        907      929
5 2013 11    3   625      630            -5        736      805
6 2013 11    3   653      655            -2        925      920
  arr_delay carrier flight tailnum origin dest air_time distance hour minute
1 -31       AA      2243   N5DWAA  JFK    MIA  144      1089     5    45
2  -5       AA      1175   N3CSAA  LGA    MIA  148      1096     6     0
3 -11       AA      1103   N3KDAA  LGA    DFW  192      1389     6    10
4 -22       AA      1205   N3EJAA  EWR    MIA  141      1085     6    29
5 -29       AA       303   N4WJAA  LGA    ORD  113       733     6    30
6   5       AA      1263   N634AA  JFK    LAS  306      2248     6    55
  time_hour
1 2013-11-03 05:00:00
2 2013-11-03 06:00:00
3 2013-11-03 06:00:00
4 2013-11-03 06:00:00
5 2013-11-03 06:00:00
6 2013-11-03 06:00:00

In [13]:
slice(flights, 1:10)

   year month day dep_time sched_dep_time dep_delay arr_time sched_arr_time
1  2013 1     1   517      515             2         830      819
2  2013 1     1   533      529             4         850      830
3  2013 1     1   542      540             2         923      850
4  2013 1     1   544      545            -1        1004     1022
5  2013 1     1   554      600            -6         812      837
6  2013 1     1   554      558            -4         740      728
7  2013 1     1   555      600            -5         913      854
8  2013 1     1   557      600            -3         709      723
9  2013 1     1   557      600            -3         838      846
10 2013 1     1   558      600            -2         753      745
   arr_delay carrier flight tailnum origin dest air_time distance hour minute
1   11       UA      1545   N14228  EWR    IAH  227      1400     5    15
2   20       UA      1714   N24211  LGA    IAH  227      1416     5    29
3   33       AA      1141   N619AA  JFK    MIA  160      1089     5    40
4  -18       B6       725   N804JB  JFK    BQN  183      1576     5    45
5  -25       DL       461   N668DN  LGA    ATL  116       762     6     0
6   12       UA      1696   N39463  EWR    ORD  150       719     5    58
7   19       B6       507   N516JB  EWR    FLL  158      1065     6     0
8  -14       EV      5708   N829AS  LGA    IAD   53       229     6     0
9   -8       B6        79   N593JB  JFK    MCO  140       944     6     0
10   8       AA       301   N3ALAA  LGA    ORD  138       733     6     0
   time_hour
1  2013-01-01 05:00:00
2  2013-01-01 05:00:00
3  2013-01-01 05:00:00
4  2013-01-01 05:00:00
5  2013-01-01 06:00:00
6  2013-01-01 05:00:00
7  2013-01-01 06:00:00
8  2013-01-01 06:00:00
9  2013-01-01 06:00:00
10 2013-01-01 06:00:00

In [14]:
head(arrange(flights, year, month, day, air_time))

  year month day dep_time sched_dep_time dep_delay arr_time sched_arr_time
1 2013 1     1   2302     2200           62        2342     2253
2 2013 1     1   1318     1322           -4        1358     1416
3 2013 1     1   2116     2110            6        2202     2212
4 2013 1     1   2000     2000            0        2054     2110
5 2013 1     1   2056     2004           52        2156     2112
6 2013 1     1    908      915           -7        1004     1033
  arr_delay carrier flight tailnum origin dest air_time distance hour minute
1  49       EV      4276   N13903  EWR    BDL  24       116      22    0
2 -18       EV      4106   N19554  EWR    BDL  25       116      13   22
3 -10       EV      4404   N15912  EWR    PVD  28       160      21   10
4 -16       9E      3664   N836AY  JFK    PHL  30        94      20    0
5  44       EV      4170   N12540  EWR    ALB  31       143      20    4
6 -29       US      1467   N959UW  LGA    PHL  32        96       9   15
  time_hour
1 2013-01-01 22:00:00
2 2013-01-01 13:00:00
3 2013-01-01 21:00:00
4 2013-01-01 20:00:00
5 2013-01-01 20:00:00
6 2013-01-01 09:00:00

In [15]:
head(arrange(flights, desc(dep_delay)))

  year month day dep_time sched_dep_time dep_delay arr_time sched_arr_time
1 2013 1      9   641      900           1301      1242     1530
2 2013 6     15  1432     1935           1137      1607     2120
3 2013 1     10  1121     1635           1126      1239     1810
4 2013 9     20  1139     1845           1014      1457     2210
5 2013 7     22   845     1600           1005      1044     1815
6 2013 4     10  1100     1900            960      1342     2211
  arr_delay carrier flight tailnum origin dest air_time distance hour minute
1 1272      HA        51   N384HA  JFK    HNL  640      4983      9    0
2 1127      MQ      3535   N504MQ  JFK    CMH   74       483     19   35
3 1109      MQ      3695   N517MQ  EWR    ORD  111       719     16   35
4 1007      AA       177   N338AA  JFK    SFO  354      2586     18   45
5  989      MQ      3075   N665MQ  JFK    CVG   96       589     16    0
6  931      DL      2391   N959DL  JFK    TPA  139      1005     19    0
  time_hour
1 2013-01-09 09:00:00
2 2013-06-15 19:00:00
3 2013-01-10 16:00:00
4 2013-09-20 18:00:00
5 2013-07-22 16:00:00
6 2013-04-10 19:00:00

In [19]:
print(head(select(flights, carrier)))

# A tibble: 6 x 1
  carrier
  <chr>
1 UA
2 UA
3 AA
4 B6
5 DL
6 UA

In [20]:
print(rename(flights, airline_car = carrier))

# A tibble: 336,776 x 19
    year month   day dep_time sched_dep_time dep_delay arr_time sched_arr_time
   <int> <int> <int>    <int>          <int>     <dbl>    <int>          <int>
 1  2013     1     1      517            515         2      830            819
 2  2013     1     1      533            529         4      850            830
 3  2013     1     1      542            540         2      923            850
 4  2013     1     1      544            545        -1     1004           1022
 5  2013     1     1      554            600        -6      812            837
 6  2013     1     1      554            558        -4      740            728
 7  2013     1     1      555            600        -5      913            854
 8  2013     1     1      557            600        -3      709            723
 9  2013     1     1      557            600        -3      838            846
10  2013     1     1      558            600        -2      753            745
# ... with 336,766 more rows, and 11 more variables: arr_delay <dbl>,
#   airline_car <chr>, flight <int>, tailnum <chr>, origin <chr>, dest <chr>,
#   air_time <dbl>, distance <dbl>, hour <dbl>, minute <dbl>, time_hour <dttm>

In [22]:
print(distinct(select(flights, carrier)))

# A tibble: 16 x 1
   carrier
   <chr>
 1 UA
 2 AA
 3 B6
 4 DL
 5 EV
 6 MQ
 7 US
 8 WN
 9 VX
10 FL
11 AS
12 9E
13 F9
14 HA
15 YV
16 OO

In [23]:
print(head(mutate(flights, new_col = arr_delay - dep_delay)))

# A tibble: 6 x 20
   year month   day dep_time sched_dep_time dep_delay arr_time sched_arr_time
  <int> <int> <int>    <int>          <int>     <dbl>    <int>          <int>
1  2013     1     1      517            515         2      830            819
2  2013     1     1      533            529         4      850            830
3  2013     1     1      542            540         2      923            850
4  2013     1     1      544            545        -1     1004           1022
5  2013     1     1      554            600        -6      812            837
6  2013     1     1      554            558        -4      740            728
# ... with 12 more variables: arr_delay <dbl>, carrier <chr>, flight <int>,
#   tailnum <chr>, origin <chr>, dest <chr>, air_time <dbl>, distance <dbl>,
#   hour <dbl>, minute <dbl>, time_hour <dttm>, new_col <dbl>

In [26]:
print(head(transmute(flights, new_col = arr_delay - dep_delay)))

# A tibble: 6 x 1
  new_col
    <dbl>
1       9
2      16
3      31
4     -17
5     -19
6      16

In [28]:
print(summarise(flights, avg_air_time=mean(air_time, na.rm=TRUE)))

# A tibble: 1 x 1
  avg_air_time
         <dbl>
1         151.

In [29]:
sample_n(flights, 10)

   year month day dep_time sched_dep_time dep_delay arr_time sched_arr_time
1  2013  8     1  2024     1822           122       2344     2155
2  2013  7    30   755      755             0        939      915
3  2013 10    12   950     1000           -10       1053     1115
4  2013  5    28  1500     1455             5       1653     1649
5  2013 10     2  1932     1942           -10       2254     2250
6  2013  1    12   711      715            -4       1017     1045
7  2013  9     9  1447     1449            -2       1721     1750
8  2013  1    21  1104      829           155       1236     1012
9  2013  2    22  1236     1245            -9       1337     1350
10 2013 11    20  1957     2005            -8       2111     2130
   arr_delay carrier flight tailnum origin dest air_time distance hour minute
1  109       UA      1141   N27421  EWR    SFO  355      2565     18   22
2   24       MQ      3709   N546MQ  EWR    ORD  110       719      7   55
3  -22       US      2142   N961UW  LGA    BOS   36       184     10    0
4    4       EV      4326   N12563  EWR    CLT   81       529     14   55
5    4       B6      1271   N561JB  LGA    FLL  141      1076     19   42
6  -28       AA       443   N5CAAA  JFK    MIA  151      1089      7   15
7  -29       UA       501   N410UA  LGA    IAH  183      1416     14   49
8  144       EV      3815   N11187  EWR    GSO   75       445      8   29
9  -13       AA      1850   N3CHAA  JFK    BOS   33       187     12   45
10 -19       EV      4224   N17984  EWR    MKE  109       725     20    5
   time_hour
1  2013-08-01 18:00:00
2  2013-07-30 07:00:00
3  2013-10-12 10:00:00
4  2013-05-28 14:00:00
5  2013-10-02 19:00:00
6  2013-01-12 07:00:00
7  2013-09-09 14:00:00
8  2013-01-21 08:00:00
9  2013-02-22 12:00:00
10 2013-11-20 20:00:00

In [33]:
print(sample_frac(flights, 0.000005, replace = TRUE))

# A tibble: 2 x 19
   year month   day dep_time sched_dep_time dep_delay arr_time sched_arr_time
  <int> <int> <int>    <int>          <int>     <dbl>    <int>          <int>
1  2013     5    30     1744           1730        14     2044           2039
2  2013    10    29     2000           2003        -3     2257           2237
# ... with 11 more variables: arr_delay <dbl>, carrier <chr>, flight <int>,
#   tailnum <chr>, origin <chr>, dest <chr>, air_time <dbl>, distance <dbl>,
#   hour <dbl>, minute <dbl>, time_hour <dttm>

In [35]:
print(help(dplyr))

R Help on 'dplyr'

dplyr-package              package:dplyr               R Documentation

_d_p_l_y_r: _A _G_r_a_m_m_a_r _o_f _D_a_t_a _M_a_n_i_p_u_l_a_t_i_o_n

_D_e_s_c_r_i_p_t_i_o_n:

     To learn more about dplyr, start with the vignettes:
     'browseVignettes(package = "dplyr")'

_A_u_t_h_o_r(_s):

     *Maintainer*: Hadley Wickham <email: hadley@rstudio.com> (ORCID)

     Authors:

        * Romain Fran<c3><a7>ois (ORCID)

        * Lionel Henry

        * Kirill M<c3><bc>ller (ORCID)

     Other contributors:

        * RStudio [copyright holder, funder]

_S_e_e _A_l_s_o:

     Useful links:

        * <URL: https://dplyr.tidyverse.org>

        * <URL: https://github.com/tidyverse/dplyr>

        * Report bugs at <URL:
          https://github.com/tidyverse/dplyr/issues>

USING TIDYR

In [36]:
library(tidyr)

In [38]:
library(data.table)

Attaching package: 'data.table'


The following objects are masked from 'package:dplyr':

    between, first, last

In [39]:
comp <- c(1,1,1,2,2,2,3,3,3)
yr <- c(1998, 1999, 2000, 1998, 1999, 2000, 1998, 1999, 2000)
q1 <- runif(9, min = 0, max = 100)
q2 <- runif(9, min = 0, max = 100)
q3 <- runif(9, min = 0, max = 100)
q4 <- runif(9, min = 0, max = 100)

df <- data.frame(comp = comp, year = yr, Qtr1 = q1, Qtr2 = q2, Qtr3 = q3, Qtr4 = q4)

In [41]:
print(df)

  comp year      Qtr1     Qtr2      Qtr3     Qtr4
1    1 1998 53.464824 30.32930 42.594743 36.31471
2    1 1999 92.602616 88.87818  1.426324 23.25657
3    1 2000 69.918653 67.32618 77.589180 38.55171
4    2 1998 12.885871 14.46680 90.764768 84.48418
5    2 1999 39.385877 50.73274 15.247696 36.04137
6    2 2000  2.279336 34.51119 92.071897 47.10621
7    3 1998 14.047943 14.89382 66.641446 49.02781
8    3 1999 49.733675 29.33066 22.597480 41.32730
9    3 2000  6.686931 87.73560 59.738274 59.46868

In [42]:
print(head(df %>% gather(Quarter, Revenue, Qtr1:Qtr4)))

  comp year Quarter   Revenue
1    1 1998    Qtr1 53.464824
2    1 1999    Qtr1 92.602616
3    1 2000    Qtr1 69.918653
4    2 1998    Qtr1 12.885871
5    2 1999    Qtr1 39.385877
6    2 2000    Qtr1  2.279336

In [44]:
print(head(gather(df, Quarter, Revenue, Qtr1:Qtr4)))

  comp year Quarter   Revenue
1    1 1998    Qtr1 53.464824
2    1 1999    Qtr1 92.602616
3    1 2000    Qtr1 69.918653
4    2 1998    Qtr1 12.885871
5    2 1999    Qtr1 39.385877
6    2 2000    Qtr1  2.279336

In [45]:
stocks <- data.frame(
    time = as.Date('2009-01-01') + 0:9,
    X = rnorm(10, 0, 1),
    Y = rnorm(10, 0, 2),
    Z = rnorm(10, 0, 4)
)
print(stocks)

         time           X           Y         Z
1  2009-01-01 -1.47043743 -1.01239751 -1.459824
2  2009-01-02 -0.61517952 -1.49374794  3.535520
3  2009-01-03  0.29852450  4.86146723 -1.692746
4  2009-01-04 -0.34882942 -2.74143667 -1.772492
5  2009-01-05 -1.00709141 -0.26215745  1.303087
6  2009-01-06 -0.85394132  0.07231976 -1.528814
7  2009-01-07  1.38297060  2.13006562  0.370445
8  2009-01-08  0.13616634  1.35354644 -2.476408
9  2009-01-09 -0.27802506 -2.30433524 -2.399505
10 2009-01-10 -0.01718467  2.23125586  6.680102

In [46]:
stocksm <- stocks %>% gather(stock, price, -time)

In [48]:
print(stocksm %>% spread(stock, price))

         time           X           Y         Z
1  2009-01-01 -1.47043743 -1.01239751 -1.459824
2  2009-01-02 -0.61517952 -1.49374794  3.535520
3  2009-01-03  0.29852450  4.86146723 -1.692746
4  2009-01-04 -0.34882942 -2.74143667 -1.772492
5  2009-01-05 -1.00709141 -0.26215745  1.303087
6  2009-01-06 -0.85394132  0.07231976 -1.528814
7  2009-01-07  1.38297060  2.13006562  0.370445
8  2009-01-08  0.13616634  1.35354644 -2.476408
9  2009-01-09 -0.27802506 -2.30433524 -2.399505
10 2009-01-10 -0.01718467  2.23125586  6.680102

In [49]:
print(stocksm %>% spread(time, price))

  stock 2009-01-01 2009-01-02 2009-01-03 2009-01-04 2009-01-05  2009-01-06
1     X  -1.470437 -0.6151795  0.2985245 -0.3488294 -1.0070914 -0.85394132
2     Y  -1.012398 -1.4937479  4.8614672 -2.7414367 -0.2621575  0.07231976
3     Z  -1.459824  3.5355197 -1.6927458 -1.7724924  1.3030869 -1.52881384
  2009-01-07 2009-01-08 2009-01-09  2009-01-10
1   1.382971  0.1361663 -0.2780251 -0.01718467
2   2.130066  1.3535464 -2.3043352  2.23125586
3   0.370445 -2.4764079 -2.3995055  6.68010222

SEPARATE AND UNITE

In [50]:
df <- data.frame(x = c(NA, "a.x", "b.y", "c.z"))
print(df)

     x
1 <NA>
2  a.x
3  b.y
4  c.z

In [51]:
df %>% separate(x, c("ABC", "XYZ"))

  ABC XYZ
1 NA  NA
2 a   x
3 b   y
4 c   z

UNITE()

In [53]:
print(head(mtcars))

                   mpg cyl disp  hp drat    wt  qsec vs am gear carb
Mazda RX4         21.0   6  160 110 3.90 2.620 16.46  0  1    4    4
Mazda RX4 Wag     21.0   6  160 110 3.90 2.875 17.02  0  1    4    4
Datsun 710        22.8   4  108  93 3.85 2.320 18.61  1  1    4    1
Hornet 4 Drive    21.4   6  258 110 3.08 3.215 19.44  1  0    3    1
Hornet Sportabout 18.7   8  360 175 3.15 3.440 17.02  0  0    3    2
Valiant           18.1   6  225 105 2.76 3.460 20.22  1  0    3    1

In [55]:
print(unite_(mtcars, "vs.am", c("vs", "am"), sep = "."))

                     mpg cyl  disp  hp drat    wt  qsec vs.am gear carb
Mazda RX4           21.0   6 160.0 110 3.90 2.620 16.46   0.1    4    4
Mazda RX4 Wag       21.0   6 160.0 110 3.90 2.875 17.02   0.1    4    4
Datsun 710          22.8   4 108.0  93 3.85 2.320 18.61   1.1    4    1
Hornet 4 Drive      21.4   6 258.0 110 3.08 3.215 19.44   1.0    3    1
Hornet Sportabout   18.7   8 360.0 175 3.15 3.440 17.02   0.0    3    2
Valiant             18.1   6 225.0 105 2.76 3.460 20.22   1.0    3    1
Duster 360          14.3   8 360.0 245 3.21 3.570 15.84   0.0    3    4
Merc 240D           24.4   4 146.7  62 3.69 3.190 20.00   1.0    4    2
Merc 230            22.8   4 140.8  95 3.92 3.150 22.90   1.0    4    2
Merc 280            19.2   6 167.6 123 3.92 3.440 18.30   1.0    4    4
Merc 280C           17.8   6 167.6 123 3.92 3.440 18.90   1.0    4    4
Merc 450SE          16.4   8 275.8 180 3.07 4.070 17.40   0.0    3    3
Merc 450SL          17.3   8 275.8 180 3.07 3.730 17.60   0.0    3    3
Merc 450SLC         15.2   8 275.8 180 3.07 3.780 18.00   0.0    3    3
Cadillac Fleetwood  10.4   8 472.0 205 2.93 5.250 17.98   0.0    3    4
Lincoln Continental 10.4   8 460.0 215 3.00 5.424 17.82   0.0    3    4
Chrysler Imperial   14.7   8 440.0 230 3.23 5.345 17.42   0.0    3    4
Fiat 128            32.4   4  78.7  66 4.08 2.200 19.47   1.1    4    1
Honda Civic         30.4   4  75.7  52 4.93 1.615 18.52   1.1    4    2
Toyota Corolla      33.9   4  71.1  65 4.22 1.835 19.90   1.1    4    1
Toyota Corona       21.5   4 120.1  97 3.70 2.465 20.01   1.0    3    1
Dodge Challenger    15.5   8 318.0 150 2.76 3.520 16.87   0.0    3    2
AMC Javelin         15.2   8 304.0 150 3.15 3.435 17.30   0.0    3    2
Camaro Z28          13.3   8 350.0 245 3.73 3.840 15.41   0.0    3    4
Pontiac Firebird    19.2   8 400.0 175 3.08 3.845 17.05   0.0    3    2
Fiat X1-9           27.3   4  79.0  66 4.08 1.935 18.90   1.1    4    1
Porsche 914-2       26.0   4 120.3  91 4.43 2.140 16.70   0.1    5    2
Lotus Europa        30.4   4  95.1 113 3.77 1.513 16.90   1.1    5    2
Ford Pantera L      15.8   8 351.0 264 4.22 3.170 14.50   0.1    5    4
Ferrari Dino        19.7   6 145.0 175 3.62 2.770 15.50   0.1    5    6
Maserati Bora       15.0   8 301.0 335 3.54 3.570 14.60   0.1    5    8
Volvo 142E          21.4   4 121.0 109 4.11 2.780 18.60   1.1    4    2

In [57]:
# separate is the complement of unite
print(mtcars %>% unite(vs_am, vs, am) %>% separate(vs_am, c("vs", "am")))

                     mpg cyl  disp  hp drat    wt  qsec vs am gear carb
Mazda RX4           21.0   6 160.0 110 3.90 2.620 16.46  0  1    4    4
Mazda RX4 Wag       21.0   6 160.0 110 3.90 2.875 17.02  0  1    4    4
Datsun 710          22.8   4 108.0  93 3.85 2.320 18.61  1  1    4    1
Hornet 4 Drive      21.4   6 258.0 110 3.08 3.215 19.44  1  0    3    1
Hornet Sportabout   18.7   8 360.0 175 3.15 3.440 17.02  0  0    3    2
Valiant             18.1   6 225.0 105 2.76 3.460 20.22  1  0    3    1
Duster 360          14.3   8 360.0 245 3.21 3.570 15.84  0  0    3    4
Merc 240D           24.4   4 146.7  62 3.69 3.190 20.00  1  0    4    2
Merc 230            22.8   4 140.8  95 3.92 3.150 22.90  1  0    4    2
Merc 280            19.2   6 167.6 123 3.92 3.440 18.30  1  0    4    4
Merc 280C           17.8   6 167.6 123 3.92 3.440 18.90  1  0    4    4
Merc 450SE          16.4   8 275.8 180 3.07 4.070 17.40  0  0    3    3
Merc 450SL          17.3   8 275.8 180 3.07 3.730 17.60  0  0    3    3
Merc 450SLC         15.2   8 275.8 180 3.07 3.780 18.00  0  0    3    3
Cadillac Fleetwood  10.4   8 472.0 205 2.93 5.250 17.98  0  0    3    4
Lincoln Continental 10.4   8 460.0 215 3.00 5.424 17.82  0  0    3    4
Chrysler Imperial   14.7   8 440.0 230 3.23 5.345 17.42  0  0    3    4
Fiat 128            32.4   4  78.7  66 4.08 2.200 19.47  1  1    4    1
Honda Civic         30.4   4  75.7  52 4.93 1.615 18.52  1  1    4    2
Toyota Corolla      33.9   4  71.1  65 4.22 1.835 19.90  1  1    4    1
Toyota Corona       21.5   4 120.1  97 3.70 2.465 20.01  1  0    3    1
Dodge Challenger    15.5   8 318.0 150 2.76 3.520 16.87  0  0    3    2
AMC Javelin         15.2   8 304.0 150 3.15 3.435 17.30  0  0    3    2
Camaro Z28          13.3   8 350.0 245 3.73 3.840 15.41  0  0    3    4
Pontiac Firebird    19.2   8 400.0 175 3.08 3.845 17.05  0  0    3    2
Fiat X1-9           27.3   4  79.0  66 4.08 1.935 18.90  1  1    4    1
Porsche 914-2       26.0   4 120.3  91 4.43 2.140 16.70  0  1    5    2
Lotus Europa        30.4   4  95.1 113 3.77 1.513 16.90  1  1    5    2
Ford Pantera L      15.8   8 351.0 264 4.22 3.170 14.50  0  1    5    4
Ferrari Dino        19.7   6 145.0 175 3.62 2.770 15.50  0  1    5    6
Maserati Bora       15.0   8 301.0 335 3.54 3.570 14.60  0  1    5    8
Volvo 142E          21.4   4 121.0 109 4.11 2.780 18.60  1  1    4    2

PIPE OPERATOR: ALLOWS TO PERFORM MULTIPLE OPERATIONS ON A DATA SET. USEFUL TO AVOID A LONG NESTED OPERATION.

In [58]:
library(dplyr)

In [62]:
df <- mtcars

In [63]:
print(df)

                     mpg cyl  disp  hp drat    wt  qsec vs am gear carb
Mazda RX4           21.0   6 160.0 110 3.90 2.620 16.46  0  1    4    4
Mazda RX4 Wag       21.0   6 160.0 110 3.90 2.875 17.02  0  1    4    4
Datsun 710          22.8   4 108.0  93 3.85 2.320 18.61  1  1    4    1
Hornet 4 Drive      21.4   6 258.0 110 3.08 3.215 19.44  1  0    3    1
Hornet Sportabout   18.7   8 360.0 175 3.15 3.440 17.02  0  0    3    2
Valiant             18.1   6 225.0 105 2.76 3.460 20.22  1  0    3    1
Duster 360          14.3   8 360.0 245 3.21 3.570 15.84  0  0    3    4
Merc 240D           24.4   4 146.7  62 3.69 3.190 20.00  1  0    4    2
Merc 230            22.8   4 140.8  95 3.92 3.150 22.90  1  0    4    2
Merc 280            19.2   6 167.6 123 3.92 3.440 18.30  1  0    4    4
Merc 280C           17.8   6 167.6 123 3.92 3.440 18.90  1  0    4    4
Merc 450SE          16.4   8 275.8 180 3.07 4.070 17.40  0  0    3    3
Merc 450SL          17.3   8 275.8 180 3.07 3.730 17.60  0  0    3    3
Merc 450SLC         15.2   8 275.8 180 3.07 3.780 18.00  0  0    3    3
Cadillac Fleetwood  10.4   8 472.0 205 2.93 5.250 17.98  0  0    3    4
Lincoln Continental 10.4   8 460.0 215 3.00 5.424 17.82  0  0    3    4
Chrysler Imperial   14.7   8 440.0 230 3.23 5.345 17.42  0  0    3    4
Fiat 128            32.4   4  78.7  66 4.08 2.200 19.47  1  1    4    1
Honda Civic         30.4   4  75.7  52 4.93 1.615 18.52  1  1    4    2
Toyota Corolla      33.9   4  71.1  65 4.22 1.835 19.90  1  1    4    1
Toyota Corona       21.5   4 120.1  97 3.70 2.465 20.01  1  0    3    1
Dodge Challenger    15.5   8 318.0 150 2.76 3.520 16.87  0  0    3    2
AMC Javelin         15.2   8 304.0 150 3.15 3.435 17.30  0  0    3    2
Camaro Z28          13.3   8 350.0 245 3.73 3.840 15.41  0  0    3    4
Pontiac Firebird    19.2   8 400.0 175 3.08 3.845 17.05  0  0    3    2
Fiat X1-9           27.3   4  79.0  66 4.08 1.935 18.90  1  1    4    1
Porsche 914-2       26.0   4 120.3  91 4.43 2.140 16.70  0  1    5    2
Lotus Europa        30.4   4  95.1 113 3.77 1.513 16.90  1  1    5    2
Ford Pantera L      15.8   8 351.0 264 4.22 3.170 14.50  0  1    5    4
Ferrari Dino        19.7   6 145.0 175 3.62 2.770 15.50  0  1    5    6
Maserati Bora       15.0   8 301.0 335 3.54 3.570 14.60  0  1    5    8
Volvo 142E          21.4   4 121.0 109 4.11 2.780 18.60  1  1    4    2

In [64]:
print(arrange(sample_n(filter(df, mpg > 20), size = 5), desc(mpg)))

                mpg cyl  disp  hp drat    wt  qsec vs am gear carb
Honda Civic    30.4   4  75.7  52 4.93 1.615 18.52  1  1    4    2
Fiat X1-9      27.3   4  79.0  66 4.08 1.935 18.90  1  1    4    1
Datsun 710     22.8   4 108.0  93 3.85 2.320 18.61  1  1    4    1
Volvo 142E     21.4   4 121.0 109 4.11 2.780 18.60  1  1    4    2
Hornet 4 Drive 21.4   6 258.0 110 3.08 3.215 19.44  1  0    3    1

In [65]:
a <- filter(df, mpg>20)
b <- sample_n(a, size = 5)
c <- arrange(b, desc(mpg))

print(c)

             mpg cyl  disp  hp drat    wt  qsec vs am gear carb
Honda Civic 30.4   4  75.7  52 4.93 1.615 18.52  1  1    4    2
Fiat X1-9   27.3   4  79.0  66 4.08 1.935 18.90  1  1    4    1
Merc 240D   24.4   4 146.7  62 3.69 3.190 20.00  1  0    4    2
Datsun 710  22.8   4 108.0  93 3.85 2.320 18.61  1  1    4    1
Volvo 142E  21.4   4 121.0 109 4.11 2.780 18.60  1  1    4    2

In [67]:
print(df %>% filter(mpg > 20) %>% sample_n(size = 5) %>% arrange(desc(mpg)))

                mpg cyl  disp  hp drat    wt  qsec vs am gear carb
Toyota Corolla 33.9   4  71.1  65 4.22 1.835 19.90  1  1    4    1
Fiat 128       32.4   4  78.7  66 4.08 2.200 19.47  1  1    4    1
Fiat X1-9      27.3   4  79.0  66 4.08 1.935 18.90  1  1    4    1
Merc 240D      24.4   4 146.7  62 3.69 3.190 20.00  1  0    4    2
Mazda RX4      21.0   6 160.0 110 3.90 2.620 16.46  0  1    4    4