logical operators allow us to combine multiple comparison operators.

In [1]:
# and = &
# or = |
# not = !

In [2]:
x <- 100

In [3]:
x < 20

[1] FALSE

In [4]:
x > 20

[1] TRUE

In [5]:
x == 20

[1] FALSE

In [6]:
x < 20 & x > 10

[1] FALSE

In [7]:
(x < 20) & (x > 10)

[1] FALSE

In [8]:
x < 40 | x > 10

[1] TRUE

In [9]:
(x < 20) & (x > 10) & (x == 100)

[1] FALSE

In [10]:
(x < 20) | (x > 10) | (x == 100)

[1] TRUE

In [11]:
# with & we need both conditions to be true
# with | we need one condition to be true

In [12]:
(x == 100)

[1] TRUE

In [13]:
# ! reverses the condition
!(x == 100)

[1] FALSE

In [14]:
df <- mtcars

In [15]:
print(head(df))

                   mpg cyl disp  hp drat    wt  qsec vs am gear carb
Mazda RX4         21.0   6  160 110 3.90 2.620 16.46  0  1    4    4
Mazda RX4 Wag     21.0   6  160 110 3.90 2.875 17.02  0  1    4    4
Datsun 710        22.8   4  108  93 3.85 2.320 18.61  1  1    4    1
Hornet 4 Drive    21.4   6  258 110 3.08 3.215 19.44  1  0    3    1
Hornet Sportabout 18.7   8  360 175 3.15 3.440 17.02  0  0    3    2
Valiant           18.1   6  225 105 2.76 3.460 20.22  1  0    3    1

In [16]:
# grab models with at least 20 mpg
df[df$mpg >= 20, ]

               mpg  cyl disp  hp  drat wt    qsec  vs am gear carb
Mazda RX4      21.0 6   160.0 110 3.90 2.620 16.46 0  1  4    4
Mazda RX4 Wag  21.0 6   160.0 110 3.90 2.875 17.02 0  1  4    4
Datsun 710     22.8 4   108.0  93 3.85 2.320 18.61 1  1  4    1
Hornet 4 Drive 21.4 6   258.0 110 3.08 3.215 19.44 1  0  3    1
Merc 240D      24.4 4   146.7  62 3.69 3.190 20.00 1  0  4    2
Merc 230       22.8 4   140.8  95 3.92 3.150 22.90 1  0  4    2
Fiat 128       32.4 4    78.7  66 4.08 2.200 19.47 1  1  4    1
Honda Civic    30.4 4    75.7  52 4.93 1.615 18.52 1  1  4    2
Toyota Corolla 33.9 4    71.1  65 4.22 1.835 19.90 1  1  4    1
Toyota Corona  21.5 4   120.1  97 3.70 2.465 20.01 1  0  3    1
Fiat X1-9      27.3 4    79.0  66 4.08 1.935 18.90 1  1  4    1
Porsche 914-2  26.0 4   120.3  91 4.43 2.140 16.70 0  1  5    2
Lotus Europa   30.4 4    95.1 113 3.77 1.513 16.90 1  1  5    2
Volvo 142E     21.4 4   121.0 109 4.11 2.780 18.60 1  1  4    2

In [17]:
# grab the cars with of at least 20 mpg and over 100 hp
df[df$mpg >= 20 & df$hp >= 100,]

               mpg  cyl disp  hp  drat wt    qsec  vs am gear carb
Mazda RX4      21.0 6   160.0 110 3.90 2.620 16.46 0  1  4    4
Mazda RX4 Wag  21.0 6   160.0 110 3.90 2.875 17.02 0  1  4    4
Hornet 4 Drive 21.4 6   258.0 110 3.08 3.215 19.44 1  0  3    1
Lotus Europa   30.4 4    95.1 113 3.77 1.513 16.90 1  1  5    2
Volvo 142E     21.4 4   121.0 109 4.11 2.780 18.60 1  1  4    2

logical operators with vectors

In [18]:
tf <- c(TRUE, FALSE)
tt <- c(TRUE, TRUE)
ft <- c(FALSE, TRUE)

In [19]:
tt & tf

[1]  TRUE FALSE

In [20]:
tt | tf

[1] TRUE TRUE

In [21]:
ft && tt

[1] FALSE

In [22]:
tt && tf

[1] TRUE

In [23]:
tt || tf

[1] TRUE

In [24]:
tt || tf

[1] TRUE

In [25]:
!tt

[1] FALSE FALSE

CONDITIONS

In [45]:
hot <- TRUE
temp <- 70

if (temp > 70) {
    hot <- FALSE
} else {
    hot <- TRUE
}

print(hot)

[1] TRUE

In [48]:
cold <- TRUE
temperature <- 40

print(ifelse(temperature < 20, FALSE, TRUE))

[1] TRUE

In [50]:
name <- "John"
print(ifelse(name == "John", "Hello John!", "You're not John!"))

[1] "Hello John!"

In [52]:
temp <- 30

if (temp > 80) {
    print("It's hot outside!")
} else if (temp < 80 & temp > 50) {
    print("It's nice outside.")
} else if (temp < 50 & temp > 32) {
    print("It's cooler outside.")
} else {
    print("It's cold outside.")
}

[1] "It's cold outside."

In [55]:
bread <- 10
meat <- 10

report <- "blank"

if (bread >= 10 & meat >= 10) {
    report <- "Strong sales of both items"
} else if (bread == 0 & meat == 0) {
    report <- "no sales"
} else {
    report <- "Weak sales"
}

print(report)

[1] "Strong sales of both items"

In [64]:
# fizzbuzz in R
for (i in 1:100) {
if (i %% 3 == 0 & i %% 5 == 0) {
    print("FizzBuzz")
} else if (i %% 3 == 0) {
    print("Fizz")
} else if (i %% 5 == 0) {
    print("Buzz")
} else {
    print(i)
}
}

[1] 1
[1] 2
[1] "Fizz"
[1] 4
[1] "Buzz"
[1] "Fizz"
[1] 7
[1] 8
[1] "Fizz"
[1] "Buzz"
[1] 11
[1] "Fizz"
[1] 13
[1] 14
[1] "FizzBuzz"
[1] 16
[1] 17
[1] "Fizz"
[1] 19
[1] "Buzz"
[1] "Fizz"
[1] 22
[1] 23
[1] "Fizz"
[1] "Buzz"
[1] 26
[1] "Fizz"
[1] 28
[1] 29
[1] "FizzBuzz"
[1] 31
[1] 32
[1] "Fizz"
[1] 34
[1] "Buzz"
[1] "Fizz"
[1] 37
[1] 38
[1] "Fizz"
[1] "Buzz"
[1] 41
[1] "Fizz"
[1] 43
[1] 44
[1] "FizzBuzz"
[1] 46
[1] 47
[1] "Fizz"
[1] 49
[1] "Buzz"
[1] "Fizz"
[1] 52
[1] 53
[1] "Fizz"
[1] "Buzz"
[1] 56
[1] "Fizz"
[1] 58
[1] 59
[1] "FizzBuzz"
[1] 61
[1] 62
[1] "Fizz"
[1] 64
[1] "Buzz"
[1] "Fizz"
[1] 67
[1] 68
[1] "Fizz"
[1] "Buzz"
[1] 71
[1] "Fizz"
[1] 73
[1] 74
[1] "FizzBuzz"
[1] 76
[1] 77
[1] "Fizz"
[1] 79
[1] "Buzz"
[1] "Fizz"
[1] 82
[1] 83
[1] "Fizz"
[1] "Buzz"
[1] 86
[1] "Fizz"
[1] 88
[1] 89
[1] "FizzBuzz"
[1] 91
[1] 92
[1] "Fizz"
[1] 94
[1] "Buzz"
[1] "Fizz"
[1] 97
[1] 98
[1] "Fizz"
[1] "Buzz"

practice:

In [26]:
# print hello world if x is equal to 100
x <- 10

if (x == 100) {
    print("Hello World")
} else {
    print("x is not equal to 100")
}

[1] "x is not equal to 100"

In [27]:
x <- 3

if (x %% 2 == 0) {
    print("x is even")
} else {
    print("x is odd")
}

[1] "x is odd"

In [28]:
x <- 20
print(ifelse(x %% 2 == 0, "x is even", "x is odd"))

[1] "x is even"

In [29]:
x <- matrix(1:6, nrow = 2)

if (is.matrix(x)) {
    print("x is a matrix")
} else {
    print("x is not a matrix")
}

[1] "x is a matrix"

In [30]:
x = c(1:10)
print(ifelse(is.matrix(x), "x is a matrix", "x is not a matrix"))

[1] "x is not a matrix"

In [31]:
print(x)

 [1]  1  2  3  4  5  6  7  8  9 10

In [32]:
x <- c(3, 7, 1)

if (x[1] > x[2]) {
    fir <- x[1]
    sec <- x[2]
} else {
    fir <- x[2]
    sec <- x[1]
}
if (x[3] > fir & x[3] > sec) {
     thi <- sec
     sec <- fir
     fir <- x[3]
} else if (x[3] < fir & x[3] < sec) {
     thi <- x[3]
} else {
     thi <- sec
     sec <- x[3]
}

print(paste(fir, sec, thi))

[1] "7 3 1"

In [33]:
# print the first, second and third largest values
x <- c(30, 70, 10)
if (x[1] > x[2]) {
    fir <- x[1]
    sec <- x[2]
} else {
    fir <- x[2]
    sec <- x[1]
}
if (x[3] > fir & x[3] > sec) {
     thi <- sec
     sec <- fir
     fir <- x[3]
} else if (x[3] < fir & x[3] < sec) {
     thi <- x[3]
} else {
     thi <- sec
     sec <- x[3]
}

print(paste(fir, sec, thi))

[1] "70 30 10"

In [34]:
# print out the max element of the vector
x <- c(30, 70, 10)
if (x[1] > x[2] & x[1] > x[3]) {
    print(x[1])
} else if (x[2] > x[3]) {
    print(x[2])
} else {
    print(x[3])
}

[1] 70

In [35]:
x[1]

[1] 30

In [36]:
x[2]

[1] 70

In [37]:
x[3]

[1] 10