# performing basic arithmetic operations in R

In [1]:
# addition
print(1+2)

[1] 3

In [2]:
# subtraction
print(5-2)

[1] 3

In [3]:
# division
print(10/2)

[1] 5

In [4]:
# exponent
print(10^3)

[1] 1000

In [5]:
# modulo
print(10%%3)

[1] 1

In [6]:
# order of operations
print((100 * 10) + (50 / 2))

[1] 1025

# variables

In [7]:
x <- 100
y <- 10
print(x + y)

[1] 110

In [8]:
x

[1] 100

In [9]:
y

[1] 10

In [11]:
bank.account <- 100
deposit <- 50
bank.account <- bank.account + deposit
print(bank.account)

[1] 150

In [12]:
# never used underscore in R variable names

In [13]:
deposit <- 1000

In [14]:
bank.account = bank.account + deposit
print(bank.account)

[1] 1150

# R data types

In [15]:
# numeric (float)
n <- 1.5
n

[1] 1.5

In [16]:
# integers
i <- 100
i

[1] 100

In [17]:
# logical (boolean)
b <- TRUE
c <- FALSE

In [18]:
b

[1] TRUE

In [19]:
c

[1] FALSE

In [20]:
10 == 10

[1] TRUE

In [21]:
# characters
x = "hello world"

In [22]:
print(x)

[1] "hello world"

In [23]:
sentence <- 'this is a longer string'

In [24]:
sentence

[1] "this is a longer string"

In [25]:
# use double quotes for strings

In [26]:
# checking data types

In [27]:
class(n)

[1] "numeric"

In [28]:
class(i)

[1] "numeric"

In [29]:
class(b)

[1] "logical"

In [30]:
class(c)

[1] "logical"

In [31]:
class(x)

[1] "character"

In [32]:
class(sentence)

[1] "character"

In [33]:
class(bank.account)

[1] "numeric"

In [34]:
class(TRUE)

[1] "logical"

# vectors

In [35]:
# creating a vector of numerics using c()
nvec <- c(1,2,3,4,5)

In [36]:
class(nvec)

[1] "numeric"

In [37]:
# vector of characters
cvec <- c('a','b','c','d','e')

In [38]:
class(cvec)

[1] "character"

In [39]:
# logical vector
bvec <- c(TRUE,FALSE,TRUE,FALSE,TRUE)

In [40]:
class(bvec)

[1] "logical"

In [41]:
# data types cannot be mixed
cvec <- c(1,'a',TRUE)

In [42]:
class(cvec)

[1] "character"

In [43]:
v <- c('a', 20)
class(v)

[1] "character"

In [44]:
n <- c(1,2,3, TRUE)
class(n)

[1] "numeric"

In [45]:
# LISTS WILL ALLOW FOR MIXING OF DIFFERENT DATA TYPES

In [46]:
# VECTOR NAMES
temperatures <- c(30, 22, 28, 34, 29, 27, 28)

In [47]:
temperatures

[1] 30 22 28 34 29 27 28

In [48]:
names(temperatures) <- c('Austin', 'Chicago', 'Denver', 'Houston', 'Los Angeles', 'New York', 'Seattle')

In [52]:
temperatures

     Austin     Chicago      Denver     Houston Los Angeles    New York
         30          22          28          34          29          27
    Seattle
         28

In [53]:
cities <- c('Austin', 'Chicago', 'Denver', 'Houston', 'Los Angeles', 'New York', 'Seattle')

In [54]:
cities

[1] "Austin"      "Chicago"     "Denver"      "Houston"     "Los Angeles"
[6] "New York"    "Seattle"

In [55]:
names(temperatures) <- cities

In [56]:
temperatures

     Austin     Chicago      Denver     Houston Los Angeles    New York
         30          22          28          34          29          27
    Seattle
         28

# vector operations

In [57]:
vector1 <- c(1,2,3,4,5)
vector2 <- c(6,7,8,9,10)

In [58]:
print(vector1 * vector2)

[1]  6 14 24 36 50

In [59]:
print(vector1 + vector2)

[1]  7  9 11 13 15

In [60]:
print(vector1 ^ vector2)

[1]       1     128    6561  262144 9765625

In [61]:
print(vector1 - vector2)

[1] -5 -5 -5 -5 -5

In [62]:
print(vector1 / vector2)

[1] 0.1666667 0.2857143 0.3750000 0.4444444 0.5000000

In [63]:
sum(vector1)

[1] 15

In [64]:
sum(vector2)

[1] 40

In [65]:
mean(vector1)

[1] 3

In [66]:
mean(vector2)

[1] 8

In [67]:
sd(vector1)

[1] 1.581139

In [68]:
sd(vector2)

[1] 1.581139

In [69]:
min(vector1)

[1] 1

In [70]:
max(vector1)

[1] 5

In [71]:
prod(vector1)

[1] 120

In [72]:
prod(vector2)

[1] 30240

# comparison operators

In [73]:
a <- 5
b <- 10

In [74]:
a > b

[1] FALSE

In [75]:
a < b

[1] TRUE

In [76]:
a == b

[1] FALSE

In [79]:
print(vector1)
print(vector2)

[1] 1 2 3 4 5
[1]  6  7  8  9 10

In [77]:
vector1 > vector2

[1] FALSE FALSE FALSE FALSE FALSE

In [78]:
vector1 < vector2

[1] TRUE TRUE TRUE TRUE TRUE

In [80]:
vector1 != vector2

[1] TRUE TRUE TRUE TRUE TRUE

In [81]:
print(10 < 8)

[1] FALSE

In [82]:
v <- 10

In [83]:
v < -10

[1] FALSE

In [84]:
vector3 <- c(10,20,30,40,50)
vector4 <- c(60,70,80,90,100)

In [85]:
vector1 < vector3

[1] TRUE TRUE TRUE TRUE TRUE

In [86]:
vector2 >= vector4

[1] FALSE FALSE FALSE FALSE FALSE

In [88]:
vector3 != vector2

[1] TRUE TRUE TRUE TRUE TRUE

# vector indexing and slicing

In [92]:
vector.num <- c(100,200,300,400,500)

In [93]:
vector.char <- c('a','b','c','d','e')

In [94]:
vector.num

[1] 100 200 300 400 500

In [95]:
vector.char

[1] "a" "b" "c" "d" "e"

In [96]:
# indexing starts at 1
vector.num[1]

[1] 100

In [97]:
vector.char[2]

[1] "b"

In [98]:
vector.char[-1]

[1] "b" "c" "d" "e"

In [99]:
vector.num[1:3]

[1] 100 200 300

In [100]:
vector.num[c(1, 3)]

[1] 100 300

In [101]:
vector.num <- c(1,2,3,4,5,6,7,8,9,10)
vector.num

 [1]  1  2  3  4  5  6  7  8  9 10

In [103]:
vector.num[1:5]

[1] 1 2 3 4 5

In [104]:
class(vector.num)

[1] "numeric"

In [107]:
names(vector.num) <- c('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine', 'ten')

In [108]:
vector.num

  one   two three  four  five   six seven eight  nine   ten
    1     2     3     4     5     6     7     8     9    10

In [110]:
vector.num['two']

two
  2

In [117]:
print(vector.num)

  one   two three  four  five   six seven eight  nine   ten
    1     2     3     4     5     6     7     8     9    10

In [118]:
print(vector.num[vector.num > 5])

  six seven eight  nine   ten
    6     7     8     9    10

In [116]:
print(vector.num > 2)

  one   two three  four  five   six seven eight  nine   ten
FALSE FALSE  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE

In [119]:
my.filter <- vector.num > 5

In [120]:
print(my.filter)

  one   two three  four  five   six seven eight  nine   ten
FALSE FALSE FALSE FALSE FALSE  TRUE  TRUE  TRUE  TRUE  TRUE

In [122]:
print(vector.num[my.filter])

  six seven eight  nine   ten
    6     7     8     9    10

# getting help with R

In [123]:
help(numeric)

Warning message in seq_len(head.end.idx):
"first element used of 'length.out' argument"
ERROR while rich displaying an object: Error in seq_len(head.end.idx): argument must be coercible to non-negative integer

Traceback:
1. FUN(X[[i]], ...)
2. tryCatch(withCallingHandlers({
 .     if (!mime %in% names(repr::mime2repr))
 .         stop("No repr_* for mimetype ", mime, " in repr::mime2repr")
 .     rpr <- repr::mime2repr[[mime]](obj)
 .     if (is.null(rpr))
 .         return(NULL)
 .     prepare_content(is.raw(rpr), rpr)
 . }, error = error_handler), error = outer_handler)
3. tryCatchList(expr, classes, parentenv, handlers)
4. tryCatchOne(expr, names, parentenv, handlers[[1L]])
5. doTryCatch(return(expr), name, parentenv, handler)
6. withCallingHandlers({
 .     if (!mime %in% names(repr::mime2repr))
 .         stop("No repr_* for mimetype ", mime, " in repr::mime2repr")
 .     rpr <- repr::mime2repr[[mime]](obj)
 .     if (is.null(rpr))
 .         return(NULL)
 .     prepare_content(is.raw(rpr), rpr)
 . }, error = error_handler)
7. repr::mime2repr[[mime]](obj)
8. repr_html.help_files_with_topic(obj)
9. repr_help_files_with_topic_generic(obj, Rd2HTML)

numeric                  package:base                  R Documentation

_N_u_m_e_r_i_c _V_e_c_t_o_r_s

_D_e_s_c_r_i_p_t_i_o_n:

     Creates or coerces objects of type '"numeric"'.  'is.numeric' is a
     more general test of an object being interpretable as numbers.

_U_s_a_g_e:

     numeric(length = 0)
     as.numeric(x, ...)
     is.numeric(x)

_A_r_g_u_m_e_n_t_s:

  length: A non-negative integer specifying the desired length.  Double
          values will be coerced to integer: supplying an argument of
          length other than one is an error.

       x: object to be coerced or tested.

     ...: further arguments passed to or from other methods.

_D_e_t_a_i_l_s:

     'numeric' is identical to 'double' (and 'real').  It creates a
     double-precision vector of the specified length with each element
     equal to '0'.

     'as.numeric' is a generic function, but S3 methods must be written
     for 'as.double'.  It is identical to 'as.double'.

     'is.numeric' is an internal generic 'primitive' function: you can
     write methods to handle specific classes of objects, see
     InternalMethods.  It is *not* the same as 'is.double'.  Factors
     are handled by the default method, and there are methods for
     classes '"Date"', '"POSIXt"' and '"difftime"' (all of which return
     false).  Methods for 'is.numeric' should only return true if the
     base type of the class is 'double' or 'integer' _and_ values can
     reasonably be regarded as numeric (e.g., arithmetic on them makes
     sense, and comparison should be done via the base type).

_V_a_l_u_e:

     for 'numeric' and 'as.numeric' see 'double'.

     The default method for 'is.numeric' returns 'TRUE' if its argument
     is of mode '"numeric"' (type '"double"' or type '"integer"') and
     not a factor, and 'FALSE' otherwise.  That is, 'is.integer(x) ||
     is.double(x)', or '(mode(x) == "numeric") && !is.factor(x)'.

_W_a_r_n_i_n_g:

     If 'x' is a 'factor', 'as.numeric' will return the underlying
     numeric (integer) representation, which is often meaningless as it
     may not correspond to the 'factor' 'levels', see the 'Warning'
     section in 'factor' (and the 2nd example below).

_S_4 _m_e_t_h_o_d_s:

     'as.numeric' and 'is.numeric' are internally S4 generic and so
     methods can be set for them _via_ 'setMethod'.

     To ensure that 'as.numeric' and 'as.double' remain identical, S4
     methods can only be set for 'as.numeric'.

_N_o_t_e _o_n _n_a_m_e_s:

     It is a historical anomaly that R has two names for its
     floating-point vectors, 'double' and 'numeric' (and formerly had
     'real').

     'double' is the name of the type.  'numeric' is the name of the
     mode and also of the implicit class.  As an S4 formal class, use
     '"numeric"'.

     The potential confusion is that R has used _mode_ '"numeric"' to
     mean 'double or integer', which conflicts with the S4 usage.  Thus
     'is.numeric' tests the mode, not the class, but 'as.numeric'
     (which is identical to 'as.double') coerces to the class.

_R_e_f_e_r_e_n_c_e_s:

     Becker, R. A., Chambers, J. M. and Wilks, A. R. (1988) _The New S
     Language_.  Wadsworth & Brooks/Cole.

_S_e_e _A_l_s_o:

     'double', 'integer', 'storage.mode'.

_E_x_a_m_p_l_e_s:

     ## Conversion does trim whitespace; non-numeric strings give NA + warning
     as.numeric(c("-.1"," 2.7 ","B"))

     ## Numeric values are sometimes accidentally converted to factors.
     ## Converting them back to numeric is trickier than you'd expect.
     f <- factor(5:10)
     as.numeric(f) # not what you might expect, probably not what you want
     ## what you typically meant and want:
     as.numeric(as.character(f))
     ## the same, considerably more efficient (for long vectors):
     as.numeric(levels(f))[f]

In [125]:
help(vector)

Warning message in seq_len(head.end.idx):
"first element used of 'length.out' argument"
ERROR while rich displaying an object: Error in seq_len(head.end.idx): argument must be coercible to non-negative integer

Traceback:
1. FUN(X[[i]], ...)
2. tryCatch(withCallingHandlers({
 .     if (!mime %in% names(repr::mime2repr))
 .         stop("No repr_* for mimetype ", mime, " in repr::mime2repr")
 .     rpr <- repr::mime2repr[[mime]](obj)
 .     if (is.null(rpr))
 .         return(NULL)
 .     prepare_content(is.raw(rpr), rpr)
 . }, error = error_handler), error = outer_handler)
3. tryCatchList(expr, classes, parentenv, handlers)
4. tryCatchOne(expr, names, parentenv, handlers[[1L]])
5. doTryCatch(return(expr), name, parentenv, handler)
6. withCallingHandlers({
 .     if (!mime %in% names(repr::mime2repr))
 .         stop("No repr_* for mimetype ", mime, " in repr::mime2repr")
 .     rpr <- repr::mime2repr[[mime]](obj)
 .     if (is.null(rpr))
 .         return(NULL)
 .     prepare_content(is.raw(rpr), rpr)
 . }, error = error_handler)
7. repr::mime2repr[[mime]](obj)
8. repr_html.help_files_with_topic(obj)
9. repr_help_files_with_topic_generic(obj, Rd2HTML)

vector                  package:base                   R Documentation

_V_e_c_t_o_r_s

_D_e_s_c_r_i_p_t_i_o_n:

     'vector' produces a vector of the given length and mode.

     'as.vector', a generic, attempts to coerce its argument into a
     vector of mode 'mode' (the default is to coerce to whichever
     vector mode is most convenient): if the result is atomic all
     attributes are removed.

     'is.vector' returns 'TRUE' if 'x' is a vector of the specified
     mode having no attributes _other than names_.  It returns 'FALSE'
     otherwise.

_U_s_a_g_e:

     vector(mode = "logical", length = 0)
     as.vector(x, mode = "any")
     is.vector(x, mode = "any")

_A_r_g_u_m_e_n_t_s:

    mode: character string naming an atomic mode or '"list"' or
          '"expression"' or (except for 'vector') '"any"'.  Currently,
          'is.vector()' allows any type (see 'typeof') for 'mode', and
          when mode is not '"any"', 'is.vector(x, mode)' is almost the
          same as 'typeof(x) == mode'.

  length: a non-negative integer specifying the desired length.  For a
          long vector, i.e., 'length > .Machine$integer.max', it has to
          be of type '"double"'.  Supplying an argument of length other
          than one is an error.

       x: an R object.

_D_e_t_a_i_l_s:

     The atomic modes are '"logical"', '"integer"', '"numeric"'
     (synonym '"double"'), '"complex"', '"character"' and '"raw"'.

     If 'mode = "any"', 'is.vector' may return 'TRUE' for the atomic
     modes, 'list' and 'expression'.  For any 'mode', it will return
     'FALSE' if 'x' has any attributes except names.  (This is
     incompatible with S.)  On the other hand, 'as.vector' removes
     _all_ attributes including names for results of atomic mode (but
     not those of mode '"list"' nor '"expression"').

     Note that factors are _not_ vectors; 'is.vector' returns 'FALSE'
     and 'as.vector' converts a factor to a character vector for 'mode
     = "any"'.

_V_a_l_u_e:

     For 'vector', a vector of the given length and mode.  Logical
     vector elements are initialized to 'FALSE', numeric vector
     elements to '0', character vector elements to '""', raw vector
     elements to 'nul' bytes and list/expression elements to 'NULL'.

     For 'as.vector', a vector (atomic or of type list or expression).
     All attributes are removed from the result if it is of an atomic
     mode, but not in general for a list result.  The default method
     handles 24 input types and 12 values of 'type': the details of
     most coercions are undocumented and subject to change.

     For 'is.vector', 'TRUE' or 'FALSE'.  'is.vector(x, mode =
     "numeric")' can be true for vectors of types '"integer"' or
     '"double"' whereas 'is.vector(x, mode = "double")' can only be
     true for those of type '"double"'.

_M_e_t_h_o_d_s _f_o_r '_a_s._v_e_c_t_o_r()':

     Writers of methods for 'as.vector' need to take care to follow the
     conventions of the default method.  In particular

        * Argument 'mode' can be '"any"', any of the atomic modes,
          '"list"', '"expression"', '"symbol"', '"pairlist"' or one of
          the aliases '"double"' and '"name"'.

        * The return value should be of the appropriate mode.  For
          'mode = "any"' this means an atomic vector or list.

        * Attributes should be treated appropriately: in particular
          when the result is an atomic vector there should be no
          attributes, not even names.

        * 'is.vector(as.vector(x, m), m)' should be true for any mode
          'm', including the default '"any"'.

_N_o_t_e:

     'as.vector' and 'is.vector' are quite distinct from the meaning of
     the formal class '"vector"' in the 'methods' package, and hence
     'as(x, "vector")' and 'is(x, "vector")'.

     Note that 'as.vector(x)' is not necessarily a null operation if
     'is.vector(x)' is true: any names will be removed from an atomic
     vector.

     Non-vector 'mode's '"symbol"' (synonym '"name"') and '"pairlist"'
     are accepted but have long been undocumented: they are used to
     implement 'as.name' and 'as.pairlist', and those functions should
     preferably be used directly.  None of the description here applies
     to those 'mode's: see the help for the preferred forms.

_R_e_f_e_r_e_n_c_e_s:

     Becker, R. A., Chambers, J. M. and Wilks, A. R. (1988) _The New S
     Language_.  Wadsworth & Brooks/Cole.

_S_e_e _A_l_s_o:

     'c', 'is.numeric', 'is.list', etc.

_E_x_a_m_p_l_e_s:

     df <- data.frame(x = 1:3, y = 5:7)
     ## Error:
     try(as.vector(data.frame(x = 1:3, y = 5:7), mode = "numeric"))

     x <- c(a = 1, b = 2)
     is.vector(x)
     as.vector(x)
     all.equal(x, as.vector(x)) ## FALSE


     ###-- All the following are TRUE:
     is.list(df)
     ! is.vector(df)
     ! is.vector(df, mode = "list")

     is.vector(list(), mode = "list")