In [2]:
ex <- read.csv('../data/example.csv')

In [3]:
print(ex)

     Name Orders       Date
1    John     12 12/05/2016
2 Charlie     11 12/06/2016
3 Matilda     10 12/07/2016

In [4]:
str(ex)

'data.frame':	3 obs. of  3 variables:
 $ Name  : chr  "John" "Charlie" "Matilda"
 $ Orders: int  12 11 10
 $ Date  : chr  "12/05/2016" "12/06/2016" "12/07/2016"

In [5]:
class(ex)

[1] "data.frame"

In [6]:
colnames(ex)

[1] "Name"   "Orders" "Date"

In [7]:
df <- data.frame(ex)

In [8]:
print(head(df))

     Name Orders       Date
1    John     12 12/05/2016
2 Charlie     11 12/06/2016
3 Matilda     10 12/07/2016

In [9]:
write.csv(mtcars, file='../data/my_example.csv')

In [10]:
my.example <- read.csv('../data/my_example.csv')

In [11]:
print(head(my.example))

                  X  mpg cyl disp  hp drat    wt  qsec vs am gear carb
1         Mazda RX4 21.0   6  160 110 3.90 2.620 16.46  0  1    4    4
2     Mazda RX4 Wag 21.0   6  160 110 3.90 2.875 17.02  0  1    4    4
3        Datsun 710 22.8   4  108  93 3.85 2.320 18.61  1  1    4    1
4    Hornet 4 Drive 21.4   6  258 110 3.08 3.215 19.44  1  0    3    1
5 Hornet Sportabout 18.7   8  360 175 3.15 3.440 17.02  0  0    3    2
6           Valiant 18.1   6  225 105 2.76 3.460 20.22  1  0    3    1

In [12]:
print(read.table('../data/my_example.csv'))

                    V1
1
2            Mazda RX4
3        Mazda RX4 Wag
4           Datsun 710
5       Hornet 4 Drive
6    Hornet Sportabout
7              Valiant
8           Duster 360
9            Merc 240D
10            Merc 230
11            Merc 280
12           Merc 280C
13          Merc 450SE
14          Merc 450SL
15         Merc 450SLC
16  Cadillac Fleetwood
17 Lincoln Continental
18   Chrysler Imperial
19            Fiat 128
20         Honda Civic
21      Toyota Corolla
22       Toyota Corona
23    Dodge Challenger
24         AMC Javelin
25          Camaro Z28
26    Pontiac Firebird
27           Fiat X1-9
28       Porsche 914-2
29        Lotus Europa
30      Ford Pantera L
31        Ferrari Dino
32       Maserati Bora
33          Volvo 142E
                                                                    V2
1  ,"mpg","cyl","disp","hp","drat","wt","qsec","vs","am","gear","carb"
2                                 ,21,6,160,110,3.9,2.62,16.46,0,1,4,4
3                                ,21,6,160,110,3.9,2.875,17.02,0,1,4,4
4                               ,22.8,4,108,93,3.85,2.32,18.61,1,1,4,1
5                             ,21.4,6,258,110,3.08,3.215,19.44,1,0,3,1
6                              ,18.7,8,360,175,3.15,3.44,17.02,0,0,3,2
7                              ,18.1,6,225,105,2.76,3.46,20.22,1,0,3,1
8                              ,14.3,8,360,245,3.21,3.57,15.84,0,0,3,4
9                                ,24.4,4,146.7,62,3.69,3.19,20,1,0,4,2
10                             ,22.8,4,140.8,95,3.92,3.15,22.9,1,0,4,2
11                            ,19.2,6,167.6,123,3.92,3.44,18.3,1,0,4,4
12                            ,17.8,6,167.6,123,3.92,3.44,18.9,1,0,4,4
13                            ,16.4,8,275.8,180,3.07,4.07,17.4,0,0,3,3
14                            ,17.3,8,275.8,180,3.07,3.73,17.6,0,0,3,3
15                              ,15.2,8,275.8,180,3.07,3.78,18,0,0,3,3
16                             ,10.4,8,472,205,2.93,5.25,17.98,0,0,3,4
17                               ,10.4,8,460,215,3,5.424,17.82,0,0,3,4
18                            ,14.7,8,440,230,3.23,5.345,17.42,0,0,3,4
19                              ,32.4,4,78.7,66,4.08,2.2,19.47,1,1,4,1
20                            ,30.4,4,75.7,52,4.93,1.615,18.52,1,1,4,2
21                             ,33.9,4,71.1,65,4.22,1.835,19.9,1,1,4,1
22                            ,21.5,4,120.1,97,3.7,2.465,20.01,1,0,3,1
23                             ,15.5,8,318,150,2.76,3.52,16.87,0,0,3,2
24                             ,15.2,8,304,150,3.15,3.435,17.3,0,0,3,2
25                             ,13.3,8,350,245,3.73,3.84,15.41,0,0,3,4
26                            ,19.2,8,400,175,3.08,3.845,17.05,0,0,3,2
27                               ,27.3,4,79,66,4.08,1.935,18.9,1,1,4,1
28                               ,26,4,120.3,91,4.43,2.14,16.7,0,1,5,2
29                            ,30.4,4,95.1,113,3.77,1.513,16.9,1,1,5,2
30                              ,15.8,8,351,264,4.22,3.17,14.5,0,1,5,4
31                              ,19.7,6,145,175,3.62,2.77,15.5,0,1,5,6
32                                ,15,8,301,335,3.54,3.57,14.6,0,1,5,8
33                              ,21.4,4,121,109,4.11,2.78,18.6,1,1,4,2

In [13]:
print(read.table(file='../data/my_example.csv', sep=','))

                    V1   V2  V3    V4  V5   V6    V7    V8 V9 V10  V11  V12
1                       mpg cyl  disp  hp drat    wt  qsec vs  am gear carb
2            Mazda RX4   21   6   160 110  3.9  2.62 16.46  0   1    4    4
3        Mazda RX4 Wag   21   6   160 110  3.9 2.875 17.02  0   1    4    4
4           Datsun 710 22.8   4   108  93 3.85  2.32 18.61  1   1    4    1
5       Hornet 4 Drive 21.4   6   258 110 3.08 3.215 19.44  1   0    3    1
6    Hornet Sportabout 18.7   8   360 175 3.15  3.44 17.02  0   0    3    2
7              Valiant 18.1   6   225 105 2.76  3.46 20.22  1   0    3    1
8           Duster 360 14.3   8   360 245 3.21  3.57 15.84  0   0    3    4
9            Merc 240D 24.4   4 146.7  62 3.69  3.19    20  1   0    4    2
10            Merc 230 22.8   4 140.8  95 3.92  3.15  22.9  1   0    4    2
11            Merc 280 19.2   6 167.6 123 3.92  3.44  18.3  1   0    4    4
12           Merc 280C 17.8   6 167.6 123 3.92  3.44  18.9  1   0    4    4
13          Merc 450SE 16.4   8 275.8 180 3.07  4.07  17.4  0   0    3    3
14          Merc 450SL 17.3   8 275.8 180 3.07  3.73  17.6  0   0    3    3
15         Merc 450SLC 15.2   8 275.8 180 3.07  3.78    18  0   0    3    3
16  Cadillac Fleetwood 10.4   8   472 205 2.93  5.25 17.98  0   0    3    4
17 Lincoln Continental 10.4   8   460 215    3 5.424 17.82  0   0    3    4
18   Chrysler Imperial 14.7   8   440 230 3.23 5.345 17.42  0   0    3    4
19            Fiat 128 32.4   4  78.7  66 4.08   2.2 19.47  1   1    4    1
20         Honda Civic 30.4   4  75.7  52 4.93 1.615 18.52  1   1    4    2
21      Toyota Corolla 33.9   4  71.1  65 4.22 1.835  19.9  1   1    4    1
22       Toyota Corona 21.5   4 120.1  97  3.7 2.465 20.01  1   0    3    1
23    Dodge Challenger 15.5   8   318 150 2.76  3.52 16.87  0   0    3    2
24         AMC Javelin 15.2   8   304 150 3.15 3.435  17.3  0   0    3    2
25          Camaro Z28 13.3   8   350 245 3.73  3.84 15.41  0   0    3    4
26    Pontiac Firebird 19.2   8   400 175 3.08 3.845 17.05  0   0    3    2
27           Fiat X1-9 27.3   4    79  66 4.08 1.935  18.9  1   1    4    1
28       Porsche 914-2   26   4 120.3  91 4.43  2.14  16.7  0   1    5    2
29        Lotus Europa 30.4   4  95.1 113 3.77 1.513  16.9  1   1    5    2
30      Ford Pantera L 15.8   8   351 264 4.22  3.17  14.5  0   1    5    4
31        Ferrari Dino 19.7   6   145 175 3.62  2.77  15.5  0   1    5    6
32       Maserati Bora   15   8   301 335 3.54  3.57  14.6  0   1    5    8
33          Volvo 142E 21.4   4   121 109 4.11  2.78  18.6  1   1    4    2

In [14]:
write.csv(women, file='../data/women.csv')

In [15]:
women.df <- read.csv('../data/women.csv')

In [16]:
print(women.df)

    X height weight
1   1     58    115
2   2     59    117
3   3     60    120
4   4     61    123
5   5     62    126
6   6     63    129
7   7     64    132
8   8     65    135
9   9     66    139
10 10     67    142
11 11     68    146
12 12     69    150
13 13     70    154
14 14     71    159
15 15     72    164

In [17]:
head(women.df)

  X height weight
1 1 58     115
2 2 59     117
3 3 60     120
4 4 61     123
5 5 62     126
6 6 63     129

In [18]:
str(women.df)

'data.frame':	15 obs. of  3 variables:
 $ X     : int  1 2 3 4 5 6 7 8 9 10 ...
 $ height: int  58 59 60 61 62 63 64 65 66 67 ...
 $ weight: int  115 117 120 123 126 129 132 135 139 142 ...

In [19]:
print(head(women.df))

  X height weight
1 1     58    115
2 2     59    117
3 3     60    120
4 4     61    123
5 5     62    126
6 6     63    129

In [20]:
print(AirPassengers)

     Jan Feb Mar Apr May Jun Jul Aug Sep Oct Nov Dec
1949 112 118 132 129 121 135 148 148 136 119 104 118
1950 115 126 141 135 125 149 170 170 158 133 114 140
1951 145 150 178 163 172 178 199 199 184 162 146 166
1952 171 180 193 181 183 218 230 242 209 191 172 194
1953 196 196 236 235 229 243 264 272 237 211 180 201
1954 204 188 235 227 234 264 302 293 259 229 203 229
1955 242 233 267 269 270 315 364 347 312 274 237 278
1956 284 277 317 313 318 374 413 405 355 306 271 306
1957 315 301 356 348 355 422 465 467 404 347 305 336
1958 340 318 362 348 363 435 491 505 404 359 310 337
1959 360 342 406 396 420 472 548 559 463 407 362 405
1960 417 391 419 461 472 535 622 606 508 461 390 432

In [21]:
write.csv(AirPassengers, file='../data/airpassengers.csv')
air.df <- read.csv('../data/airpassengers.csv')
print(head(air.df))

  X   x
1 1 112
2 2 118
3 3 132
4 4 129
5 5 121
6 6 135

In [22]:
write.csv(df, file='../data/foo.csv')
df <- read.csv('../data/foo.csv')
print(head(df))

  X    Name Orders       Date
1 1    John     12 12/05/2016
2 2 Charlie     11 12/06/2016
3 3 Matilda     10 12/07/2016

# excel files with R

In [1]:
library(readxl)

In [2]:
excel_sheets('../data/Sample-Sales-Data.xlsx')

[1] "Sheet1"

In [3]:
df <- read_excel('../data/Sample-Sales-Data.xlsx', sheet='Sheet1')

In [4]:
print(head(df))

# A tibble: 6 x 5
  Postcode Sales_Rep_ID Sales_Rep_Name  Year  Value
  <chr>           <dbl> <chr>          <dbl>  <dbl>
1 2121              456 Jane            2011 84219.
2 2092              789 Ashish          2012 28322.
3 2128              456 Jane            2013 81879.
4 2073              123 John            2011 44491.
5 2134              789 Ashish          2012 71838.
6 2162              123 John            2013 64532.

In [5]:
sum(df$Value)

[1] 19199461

In [6]:
print(str(df))

tibble [390 x 5] (S3: tbl_df/tbl/data.frame)
 $ Postcode      : chr [1:390] "2121" "2092" "2128" "2073" ...
 $ Sales_Rep_ID  : num [1:390] 456 789 456 123 789 123 456 789 123 789 ...
 $ Sales_Rep_Name: chr [1:390] "Jane" "Ashish" "Jane" "John" ...
 $ Year          : num [1:390] 2011 2012 2013 2011 2012 ...
 $ Value         : num [1:390] 84219 28322 81879 44491 71838 ...
NULL

In [7]:
print(summary(df))

   Postcode          Sales_Rep_ID Sales_Rep_Name          Year
 Length:390         Min.   :123   Length:390         Min.   :2011
 Class :character   1st Qu.:123   Class :character   1st Qu.:2011
 Mode  :character   Median :456   Mode  :character   Median :2012
                    Mean   :456                      Mean   :2012
                    3rd Qu.:789                      3rd Qu.:2013
                    Max.   :789                      Max.   :2013
     Value
 Min.   :  106.4
 1st Qu.:26101.5
 Median :47447.4
 Mean   :49229.4
 3rd Qu.:72277.8
 Max.   :99878.5

In [10]:
entire.workbook <- lapply(excel_sheets('../data/Sample-Sales-Data.xlsx'), 
                read_excel, 
                path='../data/Sample-Sales-Data.xlsx')

In [11]:
print(head(entire.workbook))

[[1]]
# A tibble: 390 x 5
   Postcode Sales_Rep_ID Sales_Rep_Name  Year  Value
   <chr>           <dbl> <chr>          <dbl>  <dbl>
 1 2121              456 Jane            2011 84219.
 2 2092              789 Ashish          2012 28322.
 3 2128              456 Jane            2013 81879.
 4 2073              123 John            2011 44491.
 5 2134              789 Ashish          2012 71838.
 6 2162              123 John            2013 64532.
 7 2093              456 Jane            2011 58963.
 8 2042              789 Ashish          2012 27522.
 9 2198              123 John            2013 77985.
10 2043              789 Ashish          2011 49546.
# ... with 380 more rows

In [12]:
class(entire.workbook)

[1] "list"

writing to excel files

In [15]:
library(xlsx)

In [16]:
df <- data.frame(matrix(1:10))
write.xlsx(df, file = "../data/output.xlsx")

In [17]:
output <- read_excel("../data/output.xlsx", sheet = "Sheet1")
print(output)

New names:
* `` -> ...1

# A tibble: 10 x 2
   ...1  matrix.1.10.
   <chr>        <dbl>
 1 1                1
 2 2                2
 3 3                3
 4 4                4
 5 5                5
 6 6                6
 7 7                7
 8 8                8
 9 9                9
10 10              10

In [19]:
print(head(mtcars))

                   mpg cyl disp  hp drat    wt  qsec vs am gear carb
Mazda RX4         21.0   6  160 110 3.90 2.620 16.46  0  1    4    4
Mazda RX4 Wag     21.0   6  160 110 3.90 2.875 17.02  0  1    4    4
Datsun 710        22.8   4  108  93 3.85 2.320 18.61  1  1    4    1
Hornet 4 Drive    21.4   6  258 110 3.08 3.215 19.44  1  0    3    1
Hornet Sportabout 18.7   8  360 175 3.15 3.440 17.02  0  0    3    2
Valiant           18.1   6  225 105 2.76 3.460 20.22  1  0    3    1

In [27]:
print(head(state.x77))

           Population Income Illiteracy Life Exp Murder HS Grad Frost   Area
Alabama          3615   3624        2.1    69.05   15.1    41.3    20  50708
Alaska            365   6315        1.5    69.31   11.3    66.7   152 566432
Arizona          2212   4530        1.8    70.55    7.8    58.1    15 113417
Arkansas         2110   3378        1.9    70.66   10.1    39.9    65  51945
California      21198   5114        1.1    71.71   10.3    62.6    20 156361
Colorado         2541   4884        0.7    72.06    6.8    63.9   166 103766

In [28]:
write.xlsx(state.x77, file = "../data/state77.xlsx")

In [29]:
excel_sheets('../data/state77.xlsx')

[1] "Sheet1"

In [36]:
new.df <- read.xlsx("../data/state77.xlsx", sheetIndex=1)

In [37]:
print(head(new.df))

         NA. Population Income Illiteracy Life.Exp Murder HS.Grad Frost   Area
1    Alabama       3615   3624        2.1    69.05   15.1    41.3    20  50708
2     Alaska        365   6315        1.5    69.31   11.3    66.7   152 566432
3    Arizona       2212   4530        1.8    70.55    7.8    58.1    15 113417
4   Arkansas       2110   3378        1.9    70.66   10.1    39.9    65  51945
5 California      21198   5114        1.1    71.71   10.3    62.6    20 156361
6   Colorado       2541   4884        0.7    72.06    6.8    63.9   166 103766

In [38]:
class(new.df)

[1] "data.frame"

In [39]:
summary(new.df)

     NA.              Population        Income       Illiteracy
 Length:50          Min.   :  365   Min.   :3098   Min.   :0.500
 Class :character   1st Qu.: 1080   1st Qu.:3993   1st Qu.:0.625
 Mode  :character   Median : 2838   Median :4519   Median :0.950
                    Mean   : 4246   Mean   :4436   Mean   :1.170
                    3rd Qu.: 4968   3rd Qu.:4814   3rd Qu.:1.575
                    Max.   :21198   Max.   :6315   Max.   :2.800
    Life.Exp         Murder          HS.Grad          Frost
 Min.   :67.96   Min.   : 1.400   Min.   :37.80   Min.   :  0.00
 1st Qu.:70.12   1st Qu.: 4.350   1st Qu.:48.05   1st Qu.: 66.25
 Median :70.67   Median : 6.850   Median :53.25   Median :114.50
 Mean   :70.88   Mean   : 7.378   Mean   :53.11   Mean   :104.46
 3rd Qu.:71.89   3rd Qu.:10.675   3rd Qu.:59.15   3rd Qu.:139.75
 Max.   :73.60   Max.   :15.100   Max.   :67.30   Max.   :188.00
      Area
 Min.   :  1049
 1st Qu.: 36985
 Median : 54277
 Mean   : 70736
 3rd Qu.: 81162
 Max.   :566432