# performing basic arithmetic operations in R

In [1]:
# addition
print(1+2)

[1] 3

In [2]:
# subtraction
print(5-2)

[1] 3

In [3]:
# division
print(10/2)

[1] 5

In [4]:
# exponent
print(10^3)

[1] 1000

In [5]:
# modulo
print(10%%3)

[1] 1

In [6]:
# order of operations
print((100 * 10) + (50 / 2))

[1] 1025

# variables

In [7]:
x <- 100
y <- 10
print(x + y)

[1] 110

In [8]:
x

[1] 100

In [9]:
y

[1] 10

In [11]:
bank.account <- 100
deposit <- 50
bank.account <- bank.account + deposit
print(bank.account)

[1] 150

In [12]:
# never used underscore in R variable names

In [13]:
deposit <- 1000

In [14]:
bank.account = bank.account + deposit
print(bank.account)

[1] 1150

# R data types

In [15]:
# numeric (float)
n <- 1.5
n

[1] 1.5

In [16]:
# integers
i <- 100
i

[1] 100

In [17]:
# logical (boolean)
b <- TRUE
c <- FALSE

In [18]:
b

[1] TRUE

In [19]:
c

[1] FALSE

In [20]:
10 == 10

[1] TRUE

In [21]:
# characters
x = "hello world"

In [22]:
print(x)

[1] "hello world"

In [23]:
sentence <- 'this is a longer string'

In [24]:
sentence

[1] "this is a longer string"

In [25]:
# use double quotes for strings

In [26]:
# checking data types

In [27]:
class(n)

[1] "numeric"

In [28]:
class(i)

[1] "numeric"

In [29]:
class(b)

[1] "logical"

In [30]:
class(c)

[1] "logical"

In [31]:
class(x)

[1] "character"

In [32]:
class(sentence)

[1] "character"

In [33]:
class(bank.account)

[1] "numeric"

In [34]:
class(TRUE)

[1] "logical"

# vectors

In [35]:
# creating a vector of numerics using c()
nvec <- c(1,2,3,4,5)

In [36]:
class(nvec)

[1] "numeric"

In [37]:
# vector of characters
cvec <- c('a','b','c','d','e')

In [38]:
class(cvec)

[1] "character"

In [39]:
# logical vector
bvec <- c(TRUE,FALSE,TRUE,FALSE,TRUE)

In [40]:
class(bvec)

[1] "logical"

In [41]:
# data types cannot be mixed
cvec <- c(1,'a',TRUE)

In [42]:
class(cvec)

[1] "character"

In [43]:
v <- c('a', 20)
class(v)

[1] "character"

In [44]:
n <- c(1,2,3, TRUE)
class(n)

[1] "numeric"

In [45]:
# LISTS WILL ALLOW FOR MIXING OF DIFFERENT DATA TYPES

In [46]:
# VECTOR NAMES
temperatures <- c(30, 22, 28, 34, 29, 27, 28)

In [47]:
temperatures

[1] 30 22 28 34 29 27 28

In [48]:
names(temperatures) <- c('Austin', 'Chicago', 'Denver', 'Houston', 'Los Angeles', 'New York', 'Seattle')

In [52]:
temperatures

     Austin     Chicago      Denver     Houston Los Angeles    New York
         30          22          28          34          29          27
    Seattle
         28

In [53]:
cities <- c('Austin', 'Chicago', 'Denver', 'Houston', 'Los Angeles', 'New York', 'Seattle')

In [54]:
cities

[1] "Austin"      "Chicago"     "Denver"      "Houston"     "Los Angeles"
[6] "New York"    "Seattle"

In [55]:
names(temperatures) <- cities

In [56]:
temperatures

     Austin     Chicago      Denver     Houston Los Angeles    New York
         30          22          28          34          29          27
    Seattle
         28

# vector operations

In [57]:
vector1 <- c(1,2,3,4,5)
vector2 <- c(6,7,8,9,10)

In [58]:
print(vector1 * vector2)

[1]  6 14 24 36 50

In [59]:
print(vector1 + vector2)

[1]  7  9 11 13 15

In [60]:
print(vector1 ^ vector2)

[1]       1     128    6561  262144 9765625

In [61]:
print(vector1 - vector2)

[1] -5 -5 -5 -5 -5

In [62]:
print(vector1 / vector2)

[1] 0.1666667 0.2857143 0.3750000 0.4444444 0.5000000

In [63]:
sum(vector1)

[1] 15

In [64]:
sum(vector2)

[1] 40

In [65]:
mean(vector1)

[1] 3

In [66]:
mean(vector2)

[1] 8

In [67]:
sd(vector1)

[1] 1.581139

In [68]:
sd(vector2)

[1] 1.581139

In [69]:
min(vector1)

[1] 1

In [70]:
max(vector1)

[1] 5

In [71]:
prod(vector1)

[1] 120

In [72]:
prod(vector2)

[1] 30240

# comparison operators

In [73]:
a <- 5
b <- 10

In [74]:
a > b

[1] FALSE

In [75]:
a < b

[1] TRUE

In [76]:
a == b

[1] FALSE

In [79]:
print(vector1)
print(vector2)

[1] 1 2 3 4 5
[1]  6  7  8  9 10

In [77]:
vector1 > vector2

[1] FALSE FALSE FALSE FALSE FALSE

In [78]:
vector1 < vector2

[1] TRUE TRUE TRUE TRUE TRUE

In [80]:
vector1 != vector2

[1] TRUE TRUE TRUE TRUE TRUE

In [81]:
print(10 < 8)

[1] FALSE

In [82]:
v <- 10

In [83]:
v < -10

[1] FALSE

In [84]:
vector3 <- c(10,20,30,40,50)
vector4 <- c(60,70,80,90,100)

In [85]:
vector1 < vector3

[1] TRUE TRUE TRUE TRUE TRUE

In [86]:
vector2 >= vector4

[1] FALSE FALSE FALSE FALSE FALSE

In [88]:
vector3 != vector2

[1] TRUE TRUE TRUE TRUE TRUE

# vector indexing and slicing

In [92]:
vector.num <- c(100,200,300,400,500)

In [93]:
vector.char <- c('a','b','c','d','e')

In [94]:
vector.num

[1] 100 200 300 400 500

In [95]:
vector.char

[1] "a" "b" "c" "d" "e"

In [96]:
# indexing starts at 1
vector.num[1]

[1] 100

In [97]:
vector.char[2]

[1] "b"

In [98]:
vector.char[-1]

[1] "b" "c" "d" "e"

In [99]:
vector.num[1:3]

[1] 100 200 300

In [100]:
vector.num[c(1, 3)]

[1] 100 300

In [101]:
vector.num <- c(1,2,3,4,5,6,7,8,9,10)
vector.num

 [1]  1  2  3  4  5  6  7  8  9 10

In [103]:
vector.num[1:5]

[1] 1 2 3 4 5